<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chats
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-list lines="full" *ngFor="let user of users">
      <ion-item [routerLink]="['/chat-online/chat-box/']" button detail="true">
        <ion-avatar slot="start">
          <img src="{{user.avatar}}" alt="">
        </ion-avatar>
        <ion-label>
          <h4>{{user.username}}</h4>
          <p>Holaaaaaaaaaaaaaaaaaaaaaaaaaa siuuuuuuuuuuuuuuuu</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
