<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat-online/chat-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Comenzar nuevo chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/chat-online/chat-box']" button detail="true">
      <ion-avatar slot="start">
        <img src="https://www.realmadrid.com/img/vertical_380px/cristiano_550x650_20180917025046.jpg" alt="">
      </ion-avatar>
      <ion-label>
        <h4>Cristiano Ronaldo</h4>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>