<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat-online/chat-list"></ion-back-button>
    </ion-buttons>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://www.realmadrid.com/img/vertical_380px/cristiano_550x650_20180917025046.jpg" alt="">
      </ion-avatar>

      <ion-label>
        <h4>Cristiano Ronaldo</h4> <div > <span *ngIf="isTyping">Escribiendo un mensaje</span></div>
      </ion-label>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid *ngFor="let message of chat.chats">

  <ion-row *ngIf="message.messageType === 2" >
    <ion-col>
      <ion-card class="local">
        <ion-card-content >
          {{ message.text }}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <ion-row *ngIf="message.messageType === 1">
    <ion-col></ion-col>
    <ion-col>
      <ion-card class="remoto">
        <ion-card-content >
          {{ message.text }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  
</ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input
      type="text" [(ngModel)]="text" placeholder="Message" autocomplete="off" (keydown.enter)="sendMessage2(); webSocketService.sendStopTyping()" (keypress)="webSocketService.sendTyping()"
      autoGrow
      rows="1"
      class="ion-text-center">
    </ion-input>
    <ion-buttons slot="end" type="button" id="send" style="cursor: pointer;" (click)="sendMessage2()" (click)="webSocketService.sendStopTyping()">
      <ion-fab-button size="small" color="primary" >
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>