ion-content {
    ion-list {
        background: transparent;
    }
}

ion-footer {
    ion-toolbar {
        padding: 0 3px;
        ion-input {
            border: 1px solid var(--ion-color-medium);
            border-radius: 20px;
            margin: 0.5vh 0;
        }
    }
}

.remoto {
    background-color: #969998;
    color: white;
}

.local {
    background-color: #21B36E;
    color: white;
}