
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat-online/chat-list"></ion-back-button>
    </ion-buttons>

    <ion-item>
      <ion-avatar slot="start">
        <img src="{{ receiver?.avatar }}" alt="">
      </ion-avatar> 

      <ion-label *ngIf="messages[0]?.chatRoomId === this.chatroomId">
        <h4>{{ receiver?.username }}</h4> <div> <span *ngIf="isTyping">Escribiendo un mensaje</span></div>
      </ion-label>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid *ngFor="let message of messages">
    <ng-container *ngIf="message.chatRoomId === chatroomId">
      <ion-row *ngIf="message.senderId !== activeUserId" >
        <ion-col>
          <ion-card class="remoto">
            <ion-card-content >
              {{ message.content }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

      <ion-row *ngIf="message.senderId === activeUserId">
        <ion-col></ion-col>
        <ion-col>
          <ion-card class="local">
            <ion-card-content >
              {{ message.content }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
  
  <div id="recive"></div>
  <div id="sender"></div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input
      type="text" [(ngModel)]="messageText" placeholder="Message" autocomplete="off" (ionChange)="onInputChanged($event)" 
       (keydown.enter)="sendMessage(messageText)" (keypress)="webSocketService.sendTyping()"
      autoGrow rows="1"
      class="ion-text-center" id="ion-input">
    </ion-input>
    <ion-buttons slot="end" type="button" id="send" style="cursor: pointer;" (click)="sendMessage(messageText)">
      <ion-fab-button size="small" color="primary" >
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
