<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat-online/chat-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item >
      <ion-icon slot="start" name="image-outline"></ion-icon>
      <ion-label><ion-button fill="clear">Agregar imagen</ion-button></ion-label>
      
          
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label><ion-button fill="clear" color="danger">Cerrar sesión</ion-button></ion-label>
      
    </ion-item>
  </ion-list>
</ion-content>
