<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat-online/chat-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item >
      <ion-icon slot="start" name="image-outline"></ion-icon>
      <ion-label>Agregar imagen</ion-label>
      <ion-button><ion-icon name="add"></ion-icon></ion-button>
          
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
      <ion-button color="danger">LogOut</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
